@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    min-width: 320px;
    min-height: 360px;
    font-family: 'Roboto Mono', monospace;
    
}

.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

html {
    /* font-size: 62.5%; */
}

header {
    width: 100%;
    height: 140px;
}

.header-icon-grid {
    display: grid;
    grid-template-columns: repeat(5 , 50px);
    grid-auto-rows: 50px;
    gap: calc((320px - 250px - 100% / 18 )/4);
    justify-content: end;
    background-color: #47cfac;
    padding-right: calc(100% / 18); 
}

.header-icon-grid a {
    display: flex;
}


.header-icon-grid span{
    color: white;
    align-self: center;
}

.header-nav-grid {
    display: grid;
    grid-template-columns: 8fr 3fr;
    grid-auto-rows: 90px;
    padding: 0 calc(100% / 18);
}

.header-nav-grid a {
    align-self: center;
}

.profile-logo {
    height: 68.77px;
    align-self: center;
}

.profile-link{
    display: flex;
    justify-content: end;
    align-content: center;

}

.profile-link a{
    /* font-size: 1.5rem; */
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.home-main{
    width: 100%;
    height: calc(100vh);
    min-height: 700px;
    display: flex;
    align-content: flex-start;
}

.main-container {
    width: 100%;
    min-width: 320px;
    background-image: url(https://i.postimg.cc/B6BCyw15/Cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.p-container{
    height: 180px;
    margin-top: 100px;
}

.p-container p{
    width: 90%;
    max-width: 760px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
    text-align: center;
    margin: 0 auto 0;
    
}


.button-container{
    width: 100%;
    position: relative;
    top: 90px;
    margin-top: 0;
}

.button {
    padding: 10px 15px;
    background-color: #47cfac;
    border: none;
    position: relative;
    left: calc(50% - 76.86px);
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    border-radius: 8px;
}

.button:hover {
    background-color: cornsilk;
}

/* ----------blogs----------------- */


.blogs-body{
    width: 100%;
    min-width: 320px;
}
.blogs-main {
    width: 100%;
    padding-bottom: 10px;
}

.new-blogpost-container {
    width: 100%;
    min-width: 320px;
    background-color: #e6e9ed;
}

.new-blogpost {
    width: 80%;

    min-width: 280px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 0 auto;
    padding-bottom: 50px; 
}

.image-container {
    max-width: 800px;

}

.noticias {
    width: 80%;
    max-width: 1320px;
    min-width: 280px;
    padding: 20px 0;
    margin: 0 auto;

    font-size: 25px;
    line-height: 30px;
}

.new-blogpost-image {
    width: 100%;
    max-width: 800px;
}

.new-blogpost-description {
    padding-top: 40px;
}

.new-blogpost-tittle {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.new-blogpost-description p {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.new-blogpost-button {
    padding: 10px 15px;
    background-color: #47cfac;
    border: none;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    border-radius: 8px;
    position: relative;
    left: calc(50% - 76.86px);
}

.old-post-container{
    width: 100%;
}

.old-post-container-title {
    width: 80%;
    max-width: 1320px;
    min-width: 280px;
    padding: 20px 0;
    margin: 0 auto 40px;

    font-size: 25px;
    line-height: 30px;
    text-align: center;


    border-bottom: 1px solid #ddd;


}

.old-post-grid {
    width: 80%;
    min-width: 280px;
    max-width: 1320px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(280px,calc(1280px /3 )));
    grid-auto-rows: 1fr;
    margin: 0 auto;
    gap: 20px;
    justify-content: center
    ;
}

.old-post-item {
    width: calc(100%);
    padding-bottom: 20px;

}

.old-post-image {
    width: 100%;
}

.old-post-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.old-post-description {

    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;

}

.old-blogpost-button {
    padding: 10px 15px;
    background-color: #47cfac;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    border-radius: 8px;
    position: relative;
    left: 0
}

footer {
    width: 100%;
    height: 115px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    display: grid;
    justify-content: center;
    align-content: center;
}

footer p {
    color: white;
    text-align: center;

    
}

/* ----------blog----------------- */
.blog-body{
    width: 100%;
    min-width: 320px;
}

.blog-main {
    width: 100%;
    min-width: 320px;
}

.blog-container {
    width: 80%;
    max-width: 1000px;
    min-width: 280px;
    margin: 0 auto 50px;
}

.blog-image {
    width: 100%;
}

.blog-noticias {
    width: 100%;
    min-width: 280px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.blog-info{
    width: 100%;
}

.blog-title {
    font-size: 35px;
    margin-bottom: 30px;
}

.blog-info p {
    padding: 10px 0;
}


.contact-container {
    background-color: #e6e9ed;
    padding: 70px 0;
}
.contact {
    width: 80%;
    max-width: calc(1920px*0.8);
    min-width: 280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    justify-content: center;
}

.contact-item {
    width: 100%;
    display: grid;
    grid-template-columns: 110px 2fr;
    justify-items: center;
}

.contact-item-image {
    width: 100px;
    justify-self: left;
}

.contact-item-info {
    justify-self: left;
}

.contact-item-title {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.contact-item-info p {
    margin-top: 16px;
}


/* ----------perfil----------------- */

.description-container {
    width: 100%;
    min-width: 320px;
    background-color: #e6e9ed;
    padding: 70px 0;
}


.description-grid {
    width: 80%;
    max-width: 1320px;

    min-width: 280px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: calc(100% - 1200px);
    gap: 40px;
    margin: 0 auto;
}

.description {
    padding-top: calc(15% - 30px);
    padding-top: 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.description-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: left;
    margin-bottom: 20px;
}


@media screen and (max-height: 360px) {

    main {
        height: 100%;
    }

    body{
        position: relative;

    }
}


@media screen and (min-height: 700px) {

    .button-container{
        width: 100%;
        position: relative;
        top: calc(100% * 0.65 - 370px);
        margin-top: 0;
    }
}

@media screen and (min-width: 1000px) {


    .new-blogpost {

        max-width: 1320px;
        /* max-width: 1400px; */
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        gap: calc(100% - 1200px);
    }
    

    .new-blogpost-description {
        padding-left: 30px;
        padding-top: calc(15% - 30px);
    }

    .new-blogpost-tittle {
        text-align: left;
    }

    .new-blogpost-description p {
        text-align: left;
    }

    .new-blogpost-button {
        left: 0;
    }
}

@media screen and (max-width: 910px) {

    .contact {
        min-width: 300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        justify-content: center;
    }

    .contact-item-info {
        align-self: center;
    }
    .contact-item-image {
        align-self: center;
    }
}

/* @media screen and (max-width: 500px) {

    .contact-item {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
} */

@media screen and (max-width: 1090px) {

    .description-container {
        width: 100%;
        min-width: 320px;
        background-color: #e6e9ed;
        padding: 40px 0;

        display: flex;
        align-items: center;

    }

    .description-grid {
        width: 80%;
        max-width: 800px;
        min-width: 280px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: calc(100% - 1200px);
        gap: 40px;
        margin: 0 auto;
        justify-items: center;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}